.Mega label{
    margin-right: 10px;
}

.Mega input{
    font-size: 1.4rem;
    width: 50px;
}

Mega h3{
    margin: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #1499D3;
    color: #fff;
    font-size: 1.4rem;
}